/* Estilos globales */
body {
    font-family: 'Arial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    background-image: url('assets/img/mat.jpg');

}


/* Contenedor principal de la tabla */
.table-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    background-color: #d6e96e;
    padding: 20px;
    padding-top: 35px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-x: auto;
}

/* Imagen del encabezado */
.table-container img {
    width: 100px;
    margin-bottom: 20px;
}

/* Título del juego */
h1 {
    /* font-family: monospace; */
    font-family: "Kablammo", system-ui;
    font-size: 40px;
    margin-bottom: 20px;
    color: #00759f;
    margin-top: 0;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilos para las celdas de encabezado */
thead th {
    /* background-color: #ffb854; */
    background-color: #004963;

    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

/* Estilos para las celdas del cuerpo */
tbody td {
    padding: 10px;
    text-align: center;
    background-color: #ffd437;
}

/* Estilos para los inputs de la tabla */
input[type="number"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilos para los resultados y mensajes de error */
.resultado, .mensaje-error {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

/* Estilos de mensajes de error */
.mensaje-error {
    color: red;
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    thead th, tbody td {
        font-size: 12px;
        padding: 8px;
    }

    input[type="number"] {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    thead th, tbody td {
        font-size: 10px;
        padding: 5px;
    }

    input[type="number"] {
        font-size: 10px;
        padding: 5px;
    }

    .table-container img {
        width: 80px;
    }
}



.td_initial{
    background-color: #004963;
}


.color_input{
    /* background-color: #8da4fb; */
}


header {
    margin-bottom: 1em;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #4CAF50;
}

.timer {
    font-size: 24px;
    color: #ff4500;
    margin-bottom: 20px;
    font-weight: bold;
}



.corner-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Ajusta el tamaño según prefieras */
    height: auto;
    z-index: 10; /* Asegura que esté sobre el contenido de la tabla */
}

#resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#resetButton:hover {
    background-color: #45a049;
}


/* Estilo general del botón */
button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que se comporte como un bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor a un puntero */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

/* Efecto al pasar el mouse */
button:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

/* Efecto al enfocar el botón */
button:focus {
    outline: none; /* Sin contorno en el enfoque */
    box-shadow: 0 0 5px #4CAF50; /* Sombra verde alrededor del botón */
}
